.message {
  position: absolute;
  width: 300px;
  bottom: 50px;
  white-space: normal !important;

  animation: visible 1s;

  @keyframes visible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}