.App {
  padding: 30px;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

#customers td, #customers th {
  /* border: 1px solid #ddd; */
  padding: 8px;
  text-align: center;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  /* background-color: #965dcb; */
  color: rgb(0, 0, 0);
}

.photo {
  max-width: 100%; 
  height: auto; 
  width: auto;
}

.id {
  width: 50px;
}

.descripton {
  text-align: left !important;
}

.icon {
  height: 20px;
  width: 20px;
}