.App {
  padding: 30px;
} 

.content {
  display: flex;
  flex-direction: row;
}

.products {
  width: 70%;
}

.add {
  width: 30%;
}


#customers td, #customers th {
  text-align: center !important;
}

.descripton {
  text-align: left !important;
}
